body{
	background-image:url(../foto2.JPEG);
	background-repeat: no-repeat;
	background-size: cover;

 
}

.div1 h1{
	color: white;
	background-color:rgb(36 201 43);
	width: 400px;
	height: cover;
	margin-left: 460px;
	padding: 0.5em;
	border-radius: 20px;

}

.div2 a{
	color: black;
	background-color:#C0C0C0;
	width: 400px;
	margin-left: 470px;
	padding: 0.5em; 
	border-radius: 20px;



}

.div3 h1{
	font-size: 70px;
}

.div4 p{
	text-align: center;
	color: 	#00BFFF;
	margin-left: 30px;
}

.div5 p{
	margin-left: 40px;
}



