body{
	background-image:url(foto8.jpg);
	background-repeat: ;
	

 
}

.div1 h1{
	color: white;
	background-color:rgb(36 201 43);
	
}

.div2 a{
	color: black;
	background-color:#C0C0C0;
	width: 400px;
	
	
	padding: 0.2em;
	border-radius: 20px;

}

.div3 h1{
	font-size: 70px;
	
}

.div4 p{
	text-align: center;
	color: white;
	margin-left: 30px;
}

.div5 p{
	margin-left: 40px;
}

.div6 input{
	margin-left: 400px;
	padding: 0.9em; 
	border-radius: 10px;
	

}
.div7 video{ 


	

}

.div8 p{
	height: 20px; 
}




